# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/

# Django
*.log
media/
staticfiles/
db.sqlite3
.DS_Store

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# dotenv
.env